// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

::-webkit-scrollbar{
  width: 8px;
  background: #fff5f3;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 2px rgba(5, 41, 70, .3);
}
::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 2px;
}

.main-container{
  width: 100%;
  margin: 0 auto;
}

aside{
  width: 15%;
  height: 100vh;
  position: fixed;
  overflow-y:auto;
  overflow-x: hidden;
  color: var(--dark);
  background-color: var(--light);
}

aside ul{
  list-style: none;
  padding-left: 10px;
}

aside::-webkit-scrollbar{
  width: 2px;
  background: #fff5f3;
}

.folder{
  border: 0.5px solid red;
}

.folder .wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.folder .title{
  display: block;
  color: darkgreen;
  width: 85%;
}

.folder .a-wrapper{
  position: absolute;
  height:100%;
  width:15%;
  left: 85%;
  background-color: wheat;
}


.folder .arrow{
  content: "";
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 37.5%;
  // arrow
  border: solid black;
  border-width: 0 0.12rem 0.12rem 0;
  padding: 0.12rem;
  // others
  z-index: 10;
  cursor: default;
  //default
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.down {
  left: 40%;
  -webkit-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}