// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

::-webkit-scrollbar{
  width: 8px;
  background: #fff5f3;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 2px rgba(5, 41, 70, .3);
}
::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 2px;
}

aside::-webkit-scrollbar{
  width: 2px;
  background: #fff5f3;
}

.main-container{
  width: 100%;
  margin: 0 auto;
}

aside{
  width: 16%;
  height: 100vh;
  padding: 0px 1%;
  position: fixed;
  overflow-y:auto;
  overflow-x: hidden;
  color: var(--dark);
  background-color: var(--light);
  transition: all 0.3s linear;

  ul{
    list-style: none;
    padding-left: 5%;
  }

  @media all and (max-width: 1024px) {
    width: 60%;
    background-color: black;
    z-index: 5;
    top: calc(25px + 10%);
    .disabled{
      left:-100%
    }
  }
}

.search-wrapper{ 
   display: flex;
}

@media all and (max-width: 1024px) {
  .main-header{
    display: flex;
    position: relative;
    justify-content: space-between;
    .spacer{
      flex: none;
    }
    .nav-wrapper{
      flex-grow: 1;
      flex-basis: 0%;
      .nav-btn{
        position: relative;
        margin: auto 0;
        width: 1.3rem;
        & > div{
          width: 100%;
          height: 2px;
          margin: 5px 0;
          background-color: var(--dark );
          transition: all 0.1s linear;
        }
        &:hover{
          cursor: pointer;
        }
        div:nth-of-type(1){
           transform: rotate(45deg);
            transform-origin: top left;
        }
        div:nth-of-type(2){
          transform: scale(0);
          opacity: 0;
        }
        div:nth-of-type(3){
          transform: rotate(-45deg);
          transform-origin: bottom left;
        }
        &.disabled{
          div{
            transform: none;
            opacity: 1;
            }
        }
      }

    }
    #page-title{
      flex-basis: 0%;
      flex-grow: 1;
    }

    .search-wrapper{
      padding: 3px;
      .search-icon{
        padding: 2px;
      }
      p{
        display: none !important;
      }
    }
  }
}


.folder{
  .title{
    display: block;
    width: 85%;
  }

  .wrapper{
    position: relative;
    width: 100%;
    height: 100%;

    &:hover{
      cursor: pointer;
    }

    .a-wrapper{
      position: absolute;
      height:100%;
      width:15%;
      left: 85%;
    }
  }
} 

.folder>ul{
  display: none;
}

.folder.active>ul{
  display:block;
}


.folder .arrow{
  content: "";
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 37.5%;
  // arrow
  border: solid var(--dark);
  border-width: 0 0.12rem 0.12rem 0;
  padding: 0.12rem;
  // others
  z-index: 10;
  //default
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.down {
  left: 40%;
  -webkit-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}